* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    background-color: #f2dae6;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

.routine-card {
    background-color: rgb(229, 180, 209);
    border-radius: 35px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.routine-card h2 {
    margin-top: 0;
}

.progress-circles {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 25px;
}

.routine-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}